<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/register.css">
    <link rel="icon" type="image/x-icon" href="../../images/logo.png">
    <script src="../../js/utils/i18n.js" defer></script>
    <title data-i18n="title">End your register</title>
</head>
<body>
    <div class="container">
        <h1 class="end_register_title" data-i18n="create_account">Create your account</h1>
        <img src="../../images/logo.png" alt="Game Icon" class="logo">
        <form class="register-form">
            <input type="text" id="username" name="username" required data-i18n="username_placeholder">
            <input type="password" id="password" name="password" required data-i18n="password_placeholder">
            <input type="password" id="confirm-password" name="confirm-password"  required data-i18n="confirm_password_placeholder">
            <div class="button-group">
                <a href="register.html" class="button-back" data-i18n="back">&lt; Back</a>
                <button type="button" class="button-save" data-i18n="save">Save</button>
            </div>       
        </form>
    </div>
</body>

<script src="../../js/utils/config.js"></script>
<script src="../../js/auth/endRegister.js" defer></script>
<script src="../../js/utils/i18n.js" defer></script>  

</html>
