<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/avatarCollection.css">
    <link rel="stylesheet" href="../../css/home.css">
    <script src="../../js/menu/avatarCollection.js"></script>
    <script src="../../js/utils/config.js"></script>

    <title>User Avatars</title>
</head>
<body>

    <a href="index.html" class="home-icon-container">
        <i class="fa-solid fa-house home-icon"></i>
    </a>

<div class="container">

    
    <div id="active-avatar-container" class="active-avatar-container">
    </div>

    <div id="avatars-container" class="avatars-container">
    </div>


    <div id="error-message" class="error-message"></div>
</div>

</body>
<script src="../../js/utils/player_auth.js"></script>

</html>
