<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/shop.css">
    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="../../css/topBar.css">
    <link rel="stylesheet" href="../../css/profile_settings.css">

    <title data-i18n="shop_title">Tienda de Avatares</title>
</head>
<body>

    <a href="index.html" class="home-icon-container" title="Inicio" data-i18n-title="home">
        <i class="fa-solid fa-house home-icon"></i>
    </a>
  
     <div class="top-bar-menu">     
        <div class="gem-bar-container">
            <i class="fa-solid fa-gem"></i>
            <div class="gems-container">
                <span id="gems" class="gems-span">0</span>
            </div>
        </div>
    </div>


    
    </div>

    <div id="shop-avatars-container" class="shop-avatars-container">
    </div>

    <div id="confirm-modal" class="modal">
        <div class="modal-content">
            <p data-i18n="shop_confirm_modal_message">¿Estás seguro que quieres comprar este avatar?</p>
            <button id="confirm-button" class="button-confirm" data-i18n="shop_yes_buy">Sí, comprar</button>
            <button id="cancel-button" class="button-cancel" data-i18n="shop_cancel">Cancelar</button>
        </div>
    </div>

    <div id="shop-error-popup" class="shop-error-popup" style="display:none;">
        <span id="shop-error-popup-msg"></span>
    </div>
</div>


</body>
<script src="../../js/utils/translations.js" defer></script>
<script src="../../js/menu/shop.js"></script>
<script src="../../js/utils/config.js"></script>
<script src="../../js/utils/player_auth.js"></script>




</html>
