<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8000/www/css/modal.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
    <title>Modal Configuración</title>
</head>
<body>
    <div class="overlay">
        <div id="modalContainer">
            <i class="fa-solid fa-xmark close-btn"></i>
            <div class="icons">
                <i class="fa-solid fa-volume-up"></i>
                <i class="fa-solid fa-user"></i>
                <i id="logout-btn" class="fa-solid fa-right-to-bracket"></i>
            </div>
        </div>
    </div>

</body>
</html>
