<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Tower Defense</title>
    <link rel="stylesheet" href="../../css/topBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../../css/game.css">

</head>
<body>
    <audio id="backgroundMusic" loop autoplay>
        <source src="../../audio/background.mp3" type="audio/mpeg">
    </audio>

    <div id="gameCanvasContainer">
        <button id="generateEnemyButton">Generar Enemigo</button>


        <div class="top-bar-game">
            <div class="round-bar-container">
                <i class="fa-solid fa-bullseye"></i>
                <div class="round-container">
                    <span id="round">1</span>
                </div>
            </div>      
            <div class="gold-bar-container">
                <i class="fa-solid fa-coins"></i>
                <div class="gold-container">
                    <span id="gold">500</span>
                </div>
            </div>
            <div class="life-bar-container">
                <i class="fa-solid fa-heart"></i>
                <div class="lives-container">
                    <span id="lives">20</span>
                </div>
            </div>                
            </div>
        </div>

        <canvas id="gameCanvas"></canvas>

        <div class="previewContainer" id="previewContainer">
            <div class="previewArea" id="previewArea"></div>
            <div class="towerPreview" id="towerPreview">
                <div class="towerBase"></div>
                <div class="towerBack"></div>
                <div class="towerFront"></div>
                <div class="towerSticks">
                    <div class="towerStick1"></div>
                    <div class="towerStick2"></div>
                </div>
                <div class="towerProjectile"></div>
            </div>       
         </div>

        
         <div id="towerMenu" class="towerMenu">
            <div class="towerOption" id="towerOption1">
                <img src="../../images/projectiles/tower1/projectile.png" alt="Torre 1" data-original-src="../../images/projectiles/tower1/projectile.png">
                <div class="towerPrice" id="towerPrice1">90</div> 
            </div>
            <div class="towerOption" id="towerOption2">
                <img src="../../images/projectiles/tower2/projectile.png" alt="Torre 2" data-original-src="../../images/projectiles/tower2/projectile.png">
                <div class="towerPrice" id="towerPrice2">100</div> 
            </div>
            <div class="towerOption" id="towerOption3">
                <img src="../../images/projectiles/tower3/projectile_rotated.png" alt="Torre 3" data-original-src="../../images/projectiles/tower3/projectile_rotated.png">
                <div class="towerPrice" id="towerPrice3">125</div> 
            </div>
            <div class="towerOption" id="towerOption4">
                <img src="../../images/projectiles/tower4/projectile.png" alt="Torre 4" data-original-src="../../images/projectiles/tower4/projectile.png">
                <div class="towerPrice" id="towerPrice4">150</div> 
            </div>
        </div>

        

        
        <div id="towerEditMenu" class="towerEditMenu">
            <div class="editOption" id="deleteTower">
                <img src="../../images/sell.png" alt="Eliminar Torre" data-original-src="../../images/sell.png">
            </div>
            <div class="editOption" id="upgradeTower">
                <img src="../../images/towers/tower2/base.png" alt="Torre 2" data-original-src="../../images/towers/tower2/base.png">
            </div>
            <div class="towerArea" id="towerArea"></div>

        </div>

        <canvas id="enemyCanvas"></canvas>

    </div>

    <script src="../../js/utils/config.js"></script>
    <script src="../../js/game/index.js"></script>
    <script src="../../js/game/utils.js"></script>
    <script src="../../js/game/tower.js"></script>
    <script src="../../js/game/map.js"></script>
    <script src="../../js/game/enemies.js"></script>
    <script src="../../js/game/enemyDeath.js"></script>
    <script src="../../js/game/projectile.js"></script>

</body>
</html>
