<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/languaje.css">
    <link rel="stylesheet" href="../css/modal.css">
    <link rel="icon" type="image/x-icon" href="../images/logo.png">
    <script src="../js/i18n.js" defer></script>
    <title>Aztec Guardians</title>
</head>
<body>
    <div class="container">
        <h1 class="title" data-i18n="title">Aztec Guardians</h1>
        <img src="../images/logo.png" alt="Game Icon" class="logo">
        <button class="button button-large" onclick="window.location.href='auth/login.html'" data-i18n="login">Log-in</button>       
        <button class="button button-small" onclick="window.location.href='auth/register.html'" data-i18n="register">Register</button>       
    </div>

    <i class="fa-solid fa-gear settings-icon" onclick="openModal()"></i>

    <div id="modal-placeholder"></div>
    <script src="../js/modals.js"></script>
</body>
</html>
