<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Tower Defense</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
            display: fullscreen;
        }

        canvas {
            display: block;
            background: #ccc;
        }
    </style>
</head>
<body>
    <canvas id="gameCanvas"></canvas>
    <script src="../js/script.js"></script>
</body>
</html>
