body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: url('../images/menu.png') no-repeat center center/cover;
    height: 100vh;
    color: #333;
    overflow: hidden;
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: cemter;
    align-items: center;
    width: 80%;
    height: auto;
}

.active-avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    transition: transform 0.3s ease-in-out;
}

.active-avatar-container:hover {
    transform: scale(1.05);
}
.avatars-container, .shop-avatars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5vh solid #FFFF99;
    width: 80%;
    margin-top: 2vh;
    border-radius: 10vh;
    gap: 2vw;
    padding: 2vh;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    background-color: #166937;
    flex-wrap: wrap;
    overflow: auto;
}

.shop-avatars-container {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  
}

.avatars-container::-webkit-scrollbar {
    display: none;              
}
.user-avatar, .active-avatar, .remaining-avatar, .shop-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
.shop-avatar {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease-in-out;
  cursor: pointer; 
}


.user-avatar img, .active-avatar img, .remaining-avatar img, .shop-avatar img {
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
}

.active-avatar img {
    width: 24vh;
    height: 24vh;
    border: 1vh solid #FFFF99;
    box-shadow: 0 0 25px 5px rgba(255, 255, 153, 0.7);
}

.user-avatar img {
    width: 20vh;
    height: 20vh;
    border: 0.5vh solid #FFFF99;
}
.shop-avatar img {
    margin-top: 1vh;
    width: 15vh;
    height: 15vh;
    border: 0.5vh solid #FFFF99;
}
.remaining-avatar img {
    width: 20vh;
    height: 20vh;
    filter: grayscale(100%);
    opacity: 0.9;
}

.lock-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    pointer-events: none;
}

.lock-icon img {
    width: 8vh;
    height: 8vh;
    filter: brightness(1.5) saturate(2) contrast(100%) invert(0);
    transition: transform 0.3s ease;
}

.user-avatar:hover img,
.active-avatar:hover img,
.remaining-avatar:hover img {
    transform: scale(1.1);
}

.error-message {
    color: red;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    transition: opacity 0.3s ease;
}

.error-message.visible {
    opacity: 1;
}

.error-message.hidden {
    opacity: 0;
}

.home-icon-container {
    position: absolute;
    top: 2vh;
    left: 2vw;
    font-size: 2rem;
    color: #FFF;
    transition: color 0.3s ease;
}

.home-icon-container:hover {
    color: #FFFF99;
}

.home-icon {
    font-size: 2rem;
    transition: transform 0.3s ease;
}

.home-icon:hover {
    transform: scale(1.1);
}

.shop-avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(22, 105, 55, 0.9);
    border-radius: 4vh;
    width: 20vh;
    height: 30vh;
}

.price-container {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFF99;
    border-radius: 2vh;
    width: 80%;
    height: 20%;
    color: #9b111e;
}

.fa-gem { 
    color: #9b111e;
    font-size: 1rem;
    margin-right: 1.5vw;
}

.top-bar-shop{
    position: absolute;
    top: 2vh;
    left: 2vw;
    background: rgba(0, 0, 0, 0.5);
    padding: 1vh 2vw;
    border-radius: 0.5vw;
    font-size: 1rem;
}