.top-bar-game, .top-bar-menu {
    position: fixed;
    display: flex;
    align-items: center;
    gap: 1vw;
    padding: 0.1vh 1vw;
    border-radius: 1vw;
    justify-content: flex-end;
    z-index: 1010;
}

.top-bar-game {
    top: 2vh;
    right: 0;
    flex-direction: column;
}

.top-bar-menu {
    top: 2vh;
    right: 2vh;
}

.top-bar-game div, .top-bar-menu div {
    color: white;
    padding: 0.8vh 2vw;
    border-radius: 1vw;
    font-size: 0.8rem;
}

.xp-bar-container {
    display: flex;
    align-items: center;
    background: rgba(69, 66, 66, 0.8);
    width: 46%;
    height: 100%;
    position: relative;
}

.xp-level {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a2e37;
    border: 3px solid #3abef9;
    color: white;
    font-weight: bold;
    height: 3vh;
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 5px;
}
.xp-progress {
    background: rgba(42, 46, 55, 0.5); 
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0;
    width: 24vw;
    height: 4.5vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.xp-fill {
    background: #00bfff;
    height: 100%;
    position: absolute;
    width: 0%;
    left: 0;   
    transition: width 0.3s ease; 
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.xp-text {
    position: relative;
    z-index: 2;
    font-weight: bold;
    margin-left: auto;
    font-size: 1rem;
}

.gold-bar-container {
    display: flex;
    align-items: center;
    background: rgba(69, 66, 66, 0.8);
    width: 80%; 
    height: 100%;
    position: relative;
}

.gold-container {
    background: linear-gradient(45deg, #f0c674, #d4af37); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    width: 100%;
    text-align: center;

}

.fa-coins { 
    color: #d4af37;
    font-size: 1.5rem;
    margin-right: 1.5vw;
}

.gem-bar-container {
    display: flex;
    align-items: center;
    background: rgba(69, 66, 66, 0.8);
    width: auto;
    height: 100%;
    position: relative;
}

.gems-container {
    background: linear-gradient(45deg, #9b111e, #d4af37);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.fa-gem { 
    color: #9b111e;
    font-size: 1.5rem;
    margin-right: 1.5vw;
}
.life-bar-container {
    display: flex;
    align-items: center;
    background: rgba(69, 66, 66, 0.8);
    width: 80%;
    height: 100%;
    position: relative;
}

.lives-container {
    background: linear-gradient(45deg, #ff4d4d, #ffcccc);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    width: 100%;
    text-align: center;

}

.fa-heart { 
    color: #ff4d4d;
    font-size: 1.5rem;
    margin-right: 1.5vw;
}
.round-bar-container {
    display: flex;
    align-items: center;
    background: rgba(69, 66, 66, 0.8);
    width: 80%;
    height: 100%;
    position: relative;
}

.round-container {
    background: linear-gradient(45deg, #1e90ff, #87cefa);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;

}

.fa-bullseye {
    color: #1e90ff;
    font-size: 1.5rem;
    margin-right: 1.5vw;
}
